.start-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-image: url("./../../../public/assets/img/background-start.webp");
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;

  .start-button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    > img:nth-child(1) {
      max-width: 100%;
    }
    > img:nth-child(2) {
      cursor: pointer;
      max-width: 100%;
      &:hover {
        filter: saturate(2);
      }
    }
  }
}
