<div class="player-container">
  @for (player of game.players; track player; let i = $index) {
  <app-player
    (click)="editPlayer(i)"
    [playerActive]="i == game.currentPlayer"
    [name]="player"
    [image]="game.playerImages[i]"
    class="player-position hide-mobile"
  ></app-player>
  }
</div>
<div class="player-container-mobile">
  @for (player of game.players; track player; let i = $index) {
  <app-player-mobile
    (click)="editPlayer(i)"
    [playerActive]="i == game.currentPlayer"
    [name]="player"
    [image]="game.playerImages[i]"
    class="player-position hide-desktop"
  ></app-player-mobile>
  }
</div>

<section class="field">
  <div class="card-stack">
    <!-- card stack -->
    @for (item of [0, 1, 2, 3]; track $index) {
    <img
      [ngStyle]="{ 'left.px': $index * 5 }"
      src="assets/img/cards/card_cover.png"
      alt="card-cover-{{ $index }}"
    />
    }

    <img
      (click)="takeCard()"
      class="top-card"
      [ngStyle]="{ 'left.px': 20 }"
      src="assets/img/cards/card_cover.png"
      alt="card-cover"
    />

    <!-- stack for played cards -->
    @for ( card of game.playedCards; track card) {
    <img
      src="assets/img/cards/{{ card }}.png"
      alt="card"
      class="card played-card"
    />
    }

    <!-- current card animation -->
    <img
      (click)="takeCard()"
      *ngIf="game.pickCardAnimation"
      class="top-card pick-card"
      [ngStyle]="{ 'left.px': 20 }"
      src="assets/img/cards/{{ game.currentCard }}.png"
      alt="card-cover"
    />
  </div>
</section>

<app-game-info
  [card]="game.currentCard || ''"
  class="pin-bottom"
></app-game-info>

<button mat-fab (click)="openDialog()" class="btn-add">
  <mat-icon>add</mat-icon>
</button>
<button mat-mini-fab (click)="deleteGame(this.gameId)" class="delete-game">
  <mat-icon>clear</mat-icon>
</button>
