section {
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.505);
  width: 50px;
  min-height: fit-content;
  height: 100px;
  padding-bottom: 10px;
  border-radius: 0 0 100px 100px;
  color: rgba(245, 245, 245, 0.5);
  box-shadow: 0px 0px 6px 6px hsl(22.22deg 45% 23.53% / 60%);

  > span {
    font-size: 16px;
    writing-mode: sideways-lr;
    text-align: center;
  }

  .avatar {
    transition: all 0.5s ease;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 5px solid;
    border-color: rgba(255, 165, 0, 0);
  }
}

.player-active {
  transition: all 0.5s ease;
  background-color: orange !important;
  color: whitesmoke;

  .avatar {
    transition: all 0.5s ease;
    width: 40px;
    height: 40px;
  }
}
